startup --windows_enable_symlinks
common --enable_platform_specific_config
build --package_path %workspace%:cpp --incompatible_blacklisted_protos_requires_proto_info=false
build:windows --copt="-DUSE_AURA=1" --copt="-D_HAS_EXCEPTIONS=0" --copt="-D__STD_C" --copt="-D_CRT_RAND_S" --copt="-D_CRT_SECURE_NO_DEPRECATE" --copt="-D_SCL_SECURE_NO_DEPRECATE" --copt="-D_ATL_NO_OPENGL" --copt="-D_WINDOWS" --copt="-DCERT_CHAIN_PARA_HAS_EXTRA_FIELDS" --copt="-DPSAPI_VERSION=2" --copt="-DWIN32" --copt="-D_SECURE_ATL" --copt="-DWINAPI_FAMILY=WINAPI_FAMILY_DESKTOP_APP" --copt="-DWIN32_LEAN_AND_MEAN" --copt="-DNOMINMAX" --copt="-D_UNICODE" --copt="-DUNICODE" --copt="-DNTDDI_VERSION=NTDDI_WIN10_VB" --copt="-D_WIN32_WINNT=0x0A00" --copt="-DWINVER=0x0A00" --copt="-D_DEBUG" --copt="-DDYNAMIC_ANNOTATIONS_ENABLED=1" --copt="-D_HAS_ITERATOR_DEBUGGING=0" --copt="-DWEBRTC_ENABLE_PROTOBUF=0" --copt="-DWEBRTC_INCLUDE_INTERNAL_AUDIO_DEVICE" --copt="-DRTC_ENABLE_VP9" --copt="-DHAVE_SCTP" --copt="-DWEBRTC_LIBRARY_IMPL" --copt="-DWEBRTC_NON_STATIC_TRACE_EVENT_HANDLERS=0" --copt="-DWEBRTC_WIN" --copt="-DABSL_ALLOCATOR_NOTHROW=1" --copt="-D_ENABLE_EXTENDED_ALIGNED_STORAGE" 
build:windows --copt="/JMC" --copt="/std:c++latest" --copt="/D_HAS_DEPRECATED_RESULT_OF"